<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome To Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<h2 align="center">Welcome To Home</h2>

<!--  th:href="" (SERVER RELATIVE URL TO FETCH THE REST URL)-->
	
	<div align="center">
	
		<!-- <a th:href="@{posts}">POSTS</a> |
		<a th:href="@{users}">USERS</a> |
		<a th:href="@{locations}">LOCATIONS</a> |
		<a th:href="@{students}">STUDENTS</a> |
		 -->
		
		<a th:href="@{posts}"><button type="button" class="btn btn-outline-primary btn-lg" >POSTS </button></a>
		<a th:href="@{users}"><button type="button" class="btn btn-outline-primary btn-lg"  >USERS </button></a>
		<a th:href="@{locations}"><button type="button" class="btn btn-outline-primary btn-lg">LOCATIONS </button></a>
		<a th:href="@{students}"><button type="button" class="btn btn-outline-primary btn-lg" >STUDENTS </button></a>
	
	
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>